body{
    background-color: #F2F2F2;
}
.card-container{
    display: flex;
}
.orange-card{
    background-color: #E28525;
    height:480px ;
    width: 260px;
    color: white;
    padding: 50px;
    border-radius: 12px;
 
}
.orange-card img{
    width: 60px;
    padding: 14px;
  
    
}
.orange-card h1{
    margin-left: 19px;
}
.orange-card p{
    padding: 20px;
    line-height: 2rem;
}
.orange-card button{
    
    border-radius: 32px;
    padding: 16px 39px 16px 39px;
    margin-top: 71px;
    margin-left: 21px;
    background-color: #E28525;
   border: 2px solid white;
   color: white;
}
/* =================== */
.darkcyan-card{
    background-color: #016972;
    height:480px ;
    width: 260px;
    color: white;
    padding: 50px;
    border-radius: 12px;
 
}
.darkcyan-card img{
    width: 60px;
    padding: 14px;
  
    
}
.darkcyan-card h1{
    margin-left: 19px;
}
.darkcyan-card p{
    padding: 20px;
    line-height: 2rem;
}
.darkcyan-card button{
    
    border-radius: 32px;
    padding: 16px 39px 16px 39px;
    margin-top: 71px;
    margin-left: 21px;
    background-color: #016972;
   border: 2px solid white;
   color: white;
}
/* 3 =============*/
.darkgreen-card{
    background-color: #00403F;
    height:480px ;
    width: 260px;
    color: white;
    padding: 50px;
    border-radius: 12px;
 
}
.darkgreen-card img{
    width: 60px;
    padding: 14px;
  
    
}
.darkgreen-card h1{
    margin-left: 19px;
}
.darkgreen-card p{
    padding: 20px;
    line-height: 2rem;
}
.darkgreen-card button{
    
    border-radius: 32px;
    padding: 16px 39px 16px 39px;
    margin-top: 71px;
    margin-left: 21px;
    background-color: #00403F;
   border: 2px solid white;
   color: white;
}
@media screen and (max-width:450px){
    .card-container{
      margin-left: 10px;
      margin-right: 10px;
    flex-direction: column;
    }
}